body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Hero Section */

.hero-box {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    
}

h1.left {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
}

.bottom-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;    
}

.left {
    margin-bottom: 15px;
}

h1,
p {
    padding: 0;
    margin: 0;
}

img.header-cat {
    max-width: 50%;
    height: auto;
    margin-left: 150px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.para,
a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    gap: 20px;

    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: large;
    font-weight: 800;
    border: 2px solid #3882F6;
}

/* Informations Section */

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.informations-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.title-text {
    padding: 20px;
}

img.info-cat {
    border: 6px solid #3882F6;
    border-radius: 15px;
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
}

.inner-info-box {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 30px;
}

.item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 259px;
}

.info-text {
    text-align: center;
}

/* Quote Section */

.quote-box {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.inner-quote-box {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
}

.name {
    font-size: 25px;
    font-weight: 800;
    color: #1F2937;
    align-self: flex-end;
}

/* Sign up section */

.signup-section-box {

}

.signup-inner-box {
    
}