body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    
}

.hero-box {
    border: 3px solid red;

    
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header {
    border: 3px solid red;

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;

}

.bottom-header {
    border: 3px solid red;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    margin: 0px 0px;
}

h1,
p {
    padding: 0;
    margin: 0;
}

img {
    width: 600px;
    height: auto;
}

.text {
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.para,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.para {
    /* margin-bottom: 10px; */

    flex:0;
}

ul {
    display: flex;
    gap: 20px;

    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}